/Sistemas Usuarios/nbproject/private/
/ejercicio dependencia impresora/nbproject/private/
/ejercicio dependencia impresora/build/
/Sistemas Usuarios/ejercicio dependencia impresora/build/
/Sistemas Usuarios/ejercicio dependencia impresora/nbproject/private/
/interfazMediosComunicacion/nbproject/private/
/ZOOLOGICO/nbproject/private/
/ZOOLOGICO/build/
/CookMaster/nbproject/private/
/CookMaster/build/
/GlobantProject/nbproject/private/
/GlobantProject/build/
/Juegopatrondecorator/nbproject/private/
/Juegopatrondecorator/build/
